<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
  </head>
  <body>
   {{>header}}
   <div>
     <p>Con meo la con cho</p>
   </div>
   {{>bottom}}
  </body>
</html>
