<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
  </head>
  <body>
    {{>header}}
   <h1>Help {{title}}</h1>
   <h3>Hello {{message}}</h3>
   {{>bottom}}
  </body>
</html>
